/* Write your CSS here */
.bg {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #150b3e;
  border-radius: 12px;
  width: 400px;
  height: 400px;
  padding: 40px;
}

.name-container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.icon {
  background-color: #c7d2fe;
  color: #7c3aed;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.name {
  color: #c7d2fe;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Roboto';
}

.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding-left: 40px;
  padding-right: 40px;
  height: 30px;
}

.details {
  color: #585076;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.amount {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.amount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
}

.amount-details {
  color: #585076;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

.withdraw-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 70px;
}

.withdraw {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.choose {
  color: #585076;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
